@font-face {
  font-family: 'iconfont';  /* project id 2411312 */
  src: url('//at.alicdn.com/t/font_2411312_zux2iogo8w.eot');
  src: url('//at.alicdn.com/t/font_2411312_zux2iogo8w.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2411312_zux2iogo8w.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2411312_zux2iogo8w.woff') format('woff'),
  url('//at.alicdn.com/t/font_2411312_zux2iogo8w.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2411312_zux2iogo8w.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon4:before {
  content: "\e62e";
}

.iconicon-test:before {
  content: "\e770";
}

.iconicon-test1:before {
  content: "\e771";
}

.iconicon-test2:before {
  content: "\e772";
}

.iconziliao:before {
  content: "\e60d";
}

.icontongji:before {
  content: "\e609";
}

.iconjianchaxiang:before {
  content: "\e76a";
}

.iconlaba:before {
  content: "\e60e";
}

.iconflag-fill:before {
  content: "\e622";
}

.icongengduo:before {
  content: "\e6cd";
}

.iconwenhao:before {
  content: "\e605";
}

.iconxiangmuluyan:before {
  content: "\e73e";
}

.iconxiugai:before {
  content: "\e651";
}

.iconxinwen:before {
  content: "\e6e0";
}

.icontongji1:before {
  content: "\e6e8";
}

.iconshouzhi1:before {
  content: "\e62f";
}

.iconjilu-fill:before {
  content: "\e61d";
}

.icontime-circle:before {
  content: "\eb5d";
}

.icondianhua:before {
  content: "\e61c";
}

.iconjiaohuan:before {
  content: "\e6ba";
}
